{% extends "base.html" %}

{% block content %}
<h1>About Ex Libris</h1>

<h2>What's this all about, anyway?</h2>

<p>
  Well, I've got a lot of PDFs in my Dropbox. For the most part, they're
  <abbr title="Role-Playing Game">RPG</abbr> rules, but all kinds of other things
  find their way in there, too: fiction, histories of China, books on how to run
  a successful Kickstarter campaign, and more.
</p>

<p>
  I wanted a better way to manage them than a bunch of folders. Something a bit
  more like iTunes, frankly, where I could search by author, publisher, year,
  or title, and actually find what I was looking for. Thus, Ex Libris.
</p>

<h2>Huh, cool. But who are you?</h2>

<p>
  My name's Kit La Touche. I'm a linguist, programmer, game designer, and
  wannabe seamonster. I <a href="https://twitter.com/wlonk"> tweet</a>
  sometimes, too.
</p>

<h2>Why "Ex Libris"?</h2>

<p>
  So, the phrase is Latin for "from the books (of)", and is a common sight on
  bookplates, which are no longer common sights. They were once a way of
  marking books as belonging to a certain person's personal library. When I was
  a little kid, my parents made me a stamp in the tradition of a bookplate,
  that read "<span class="small-caps">Ex Libris Kit La Touche</span>" and had a
  picture of a polar bear reading, and I fell in love with the phrase. Years
  later, I decided to use it here.
</p>

<h2>You didn't do this all on your own, did you?</h2>

<p>
  Absolutely not! I had and have some great help from some great people. First,
  the design is the work of my friend 
  <a href="http://websterdesigns.co/">Brooke</a>, and the logo is by her friend
  <a href="http://www.goodknightstudio.com/">Zoe</a>. I also have had some
  development help from my friend
  <a href="https://keybase.io/augustalso/">Austin</a>. And I could get help from
  you, too, if you're interested! I'm always happy to talk with smart people.
</p>

<h2>Do you have a privacy policy?</h2>

<p>You bet we do. It's right <a href="{% url "privacy" %}">here</a>.</p>
{% endblock content %}
