*.log
*.mo
*.pot
*.py[cod]
*.stTheme.cache
*.sublime-workspace
*.swo
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*~
.AppleDouble
.DS_Store
.LSOverride
.cache
.coverage
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.sass-cache
.tox
__pycache__
_build
build
celerybeat-schedule
coverage
ex-libris/media/
htmlcov
mailhog
node_modules
nosetests.xml
npm-debug.log*
pip-log.txt
sftp-config.json
staticfiles/
tests/.hitch
yarn-debug.log*
yarn-error.log*
