{% load staticfiles i18n socialaccount %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ex-libris{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
<meta name="web-client/config/environment" content="%7B%22environment%22%3A%22development%22%2C%22modulePrefix%22%3A%22web-client%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22web-client%22%2C%22version%22%3A%220.1.0+aa6969aa%22%2C%22API_HOST%22%3A%22http%3A//localhost%3A8000%22%2C%22API_NAMESPACE%22%3A%22api%22%2C%22API_ADD_TRAILING_SLASHES%22%3Atrue%7D%2C%22static_url%22%3A%22/static%22%2C%22torii%22%3A%7B%22providers%22%3A%7B%22dropbox-oauth2%22%3A%7B%22redirectUri%22%3A%22http%3A//localhost%3A8000/%22%2C%22apiKey%22%3A%22599cgm4q8sczhi2%22%7D%7D%7D%2C%22apiURL%22%3A%22/api/%22%2C%22something%22%3A%22test%22%2C%22exportApplicationGlobal%22%3Atrue%7D" />
    {# TODO: We could possibly use the static templatetags here? #}
    <link rel="stylesheet" href="/static/app/assets/vendor.css">
    <link rel="stylesheet" href="/static/app/assets/web-client.css">

    <meta name="sentry:revision"></meta>

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <!-- Your stuff: Third-party css libraries go here -->
    <link href='//fonts.googleapis.com/css?family=Lora:bold|Roboto:300,300italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "octicons/octicons.css" %}">

    {% block css_extra %}
    {% endblock css_extra %}

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>
    

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="/static/app/assets/vendor.js"></script>
      <script src="/static/app/assets/web-client.js"></script>

    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'js/typeahead.bundle.js' %}"></script>

      {% block javascript_extra %}
      {% endblock javascript_extra %}

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

  </body>
</html>
