<div class="jumbotron text-xs-center">
  <img src="/static/images/logo-main.png" class="img-rounded center-block" alt="Ex Libris logo">
  <p class="lead">
  Manage your library, right from your Dropbox.
  </p>
  <p>
  <a class="btn btn-lg btn-primary" role="button" {{action 'authenticate' 'dropbox-oauth2'}}>Log in via Dropbox</a>
  </p>
  <div class="row">
    <p class="col-sm-6 offset-sm-3">
    <small class="text-muted">
      Right now, we're in beta, and only can deal with PDF files in Dropbox.
      Sorry! We're working on expanding and improving what we offer, though.
    </small>
    </p>
  </div>
</div>
