<h1>
  Privacy Policy
  <small class="text-muted">Effective from March 19, 2016</small>
</h1>

<p>
We want to respect your privacy as much as we hope others would respect our
own. There's some information we need from you, though, to provide our
services. We're going to be completely explicit about how we balance these
concerns here.
</p>

<h2>
  What we collect
</h2>

<p>
We collect information about the files in our application folder in your
Dropbox, and just enough information that we can talk with Dropbox on your
behalf. We also collect whatever metadata you choose to provide us with about
those files in your Dropbox.
</p>

<p>
That's <em>it</em>.
</p>

<h2>
  Disclosure of your information
</h2>

<p>
Except under the exceptional circumstances outlined below, we will not sell
or disclose your information to anyone outside the company.
</p>

<p>
There are some circumstances where we may have to, though. We say the same
things <a href="https://medium.com/policy/medium-privacy-policy-f03bf92035c9#.6iyyyanzx">Medium</a>
says about that:
</p>

<blockquote class="blockquote">
  <p>
  We may share your personal information with third parties in limited
  circumstances, including: (1) with your consent; (2) to a vendor or partner
  who meets our data protection standards; or (3) when we have a good faith
  belief it is required by law, such as pursuant to a subpoena or other legal
  process.
  </p>
  <p>
  If we’re going to share your information in response to legal process, we’ll
  give you advance notice so you can challenge it (for example by seeking court
  intervention), unless we’re prohibited from doing so by law or court order.
  We will object to requests for information about users of our site that we
  believe to be improper.
  </p>
  <p>
  If we merge with another company such that your information will become
  subject to a different privacy policy, we’ll notify you before the transfer.
  You can opt out of the new policy by deleting your account during the notice
  period.
  </p>
</blockquote>

<h2>
  Cookies
</h2>

<p>
We use cookies to determine whether you're logged in to our site. We don't
track you on other sites. We don't use them for any other purposes, in fact.
</p>

<h2>
  Deleting your account
</h2>

<p>
There's currently no automated way to do this, but
<a href="mailto:kit@transneptune.net">get in touch</a> and we will gladly
remove your account and all your data for you. We'll be sorry to see you go,
though!
</p>

<h2>
  Changes to this Policy
</h2>

<p>
We may periodically update this Policy. We’ll notify you by email about
significant changes to it. This is all we will email you about, ever.
</p>

<h2>
  Questions
</h2>

<p>
If you have any questions, please <a href="mailto:kit@transneptune.net">get
  in touch</a>.
</p>
