{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block navbar_extra %}
<li class="nav-item">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
    Filter
  </button>
</li>
{% endblock navbar_extra %}

{% block content %}
<div id="filter-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="get" action=".">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Filter</h4>
        </div>
        <div class="modal-body">
          {{ filter.form|crispy }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" value="Filter" class="btn btn-primary">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table class="table books">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Series</th>
    <th>Edition</th>
    <th>Year</th>
  </thead>
{% for book in books.object_list %}
  <tbody class="{% cycle "odd" "even" %}">
    <tr>
      {# TODO use generic app namespace name in url tag? #}
      <td><a href="{% url "books:detail" id=book.id %}">{{ book }}</a></td>
      <td>{{ book.author|default:"" }}</td>
      <td>{{ book.publisher|default:"" }}</td>
      <td>{{ book.series|default:"" }}</td>
      <td>{{ book.edition }}</td>
      <td>{{ book.year|default:"" }}</td>
    </tr>
    {% if book.tags.all %}
    <tr>
      <td colspan="6" class="tags">
          {% for tag in book.tags.all %}
            <a href="{% url "books:tags" tag=tag %}" class="label label-pill label-primary">{{ tag }}</a>
          {% endfor %}
      </td>
    </tr>
    {% endif %}
  </tbody>
{% empty %}
  <tbody>
    <tr>
      <td colspan="6">No books</td>
    </tr>
  </tbody>
{% endfor %}
</table>

<nav class="text-xs-center">
  <ul class="pagination">
  {% if books.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{{ books.previous_page_number.querystring }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
  {% endif %}
  {% for page in books.pages %}
    {% if page %}
      {% if page == books.number %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?{{ page.querystring }}">{{ page }}</a>
        </li>
      {% endif %}
    {% else %}
        <li class="page-item">
          <span class="page-link">&hellip;</span>
        </li>
    {% endif %}
  {% endfor %}
  {% if books.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{{ books.next_page_number.querystring }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>

{% endblock content %}
