{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ object.username }}</h1>
    </div>
  </div>
  {% if is_self %}
  <div class="row">
    <div class="col-sm-12">
      <p>
        What folder do you want us to import your PDFs from?
      </p>
      <p>
        <form action="{% url "books:trigger_dropbox_sync" %}" method="post">
          {% csrf_token %}
          {{ book_profile_form|crispy }}
          <input class="btn btn-primary" type="submit" value="import">
        </form>
      </p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}

