{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ object.username }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Instructions</h2>
      <p>
        Place any books that you want to be visible in a folder in your Dropbox
        called <tt>ex-libris</tt>.
      </p>
      <p>
        We don't yet auto-sync, so you'll end up getting really familiar with
        this button.
      </p>
      <p>
        <form action="{% url "books:trigger_dropbox_sync" %}" method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="import">
        </form>
      </p>
    </div>
  </div>
</div>
{% endblock content %}

